/* style for background generator*/

/* rgba(219, 171, 41 ) */

body{
    font:'Raleway', sans-serif;
    color: floralwhite;
    text-align: center;
    text-transform: uppercase;
    letter-spacing:.5em;
    margin-top: 15%;
    background:linear-gradient(to right, rgba(219, 171, 41), rgba(91, 32, 32));
}

h1{
    color: rgba(0,0, 0, .5);
    letter-spacing:.5em;
    width: 100%;
}

h3{
    color: rgba(0,0, 0, .5);
    text-transform: none;
    letter-spacing:0.01em;
}

p{
    font:'Raleway', sans-serif;
    color: rgba(0,0, 0, .5);
    text-align: center;
    text-transform: none;
    letter-spacing:0.05em;
    color:peachpuff;
    font-style: italic;
}
.footer{
    left:0;
    bottom: 0;
    width:100%;
    position: fixed;
    font-size: 0.75rem;
    padding-bottom: 1%;
    text-transform: none;
}